/* Global Color Variable */
$light-gray: #f7f9fd;
$ocean-blue: #152bfe;
$dark-gray: #a6afc8;
$duff-blue: #2953d8;
$dark: #2e313a;
$light-blue: #36aaed;
$dark-blue: #263563;
$red: #e7513b;
$orange: #f3a237;
$gradient: linear-gradient(
  45deg,
  rgba(231, 81, 59, 1) 0%,
  rgba(243, 162, 55, 1) 100%
);

/* Media query breakpoint */
$tablet-width: 768px;
$dekstop-width: 1024px;
